<% include ./partials/header %>
	
	<nav class="navbar navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="/">To Do App</a>	
		</div>
	</nav>

	<div class='notFound-container'>
		<h3>Not Authorized</h3>
		<hr />
		<p> You do not have permission to access these page.</p>
		<p> Please <a href='/'>login</a> or <a href='/users/register'>register</a> to gain user access.</p>
	</div>



<% include ./partials/footer %>